body {
    margin: 0;
    background: rgb(238, 226, 200);
    text-align: center;
    background-image: url("![Space-4K](https://user-images.githubusercontent.com/90779741/133657871-c76fe6a3-eaa9-4637-8391-dfbe707cab4e.jpg)
");
        background-position: center; background-size: 1500px; background-repeat: no-repeat;
}
