body {
    margin: 0;
    background: rgb(238, 226, 200);
    text-align: center;
    background-image: url("https://github.com/YPgN/YiPeng/blob/site/z7tXPkz.webp?raw=true");
        background-position: center; background-size: 1500px; background-repeat: no-repeat;
}
