body {
    margin: 0;
    background: rgb(238, 226, 200);
    text-align: center;
    background-image: url(YPgN/YiPeng/Space-4K.jpg);
        background-position: center; background-size: 1500px; background-repeat: no-repeat;
}
